.try{
  display: grid;
  place-items: center;

}

.blog {
    background: #CBD5E0;
    padding: 20px;
    border-radius: 5px;
    margin: 20px;
    width: 80%;
    max-width: 750px;
  
    
  }
  
  /* Style for the heading */
  h2 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  /* Style for form elements */
  form {
    display: flex;
    flex-direction: column;
  }
  
  /* Style for labels */
  label {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 1.5rem;
  }
  
  /* Style for input and textarea */
  input,
  textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Style for the submit button */
  .blog button {
    background: #273974;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
  }
  
  /* Hover effect for the submit button */
  button:hover {
    background: black;
  }
  