.container-home{
border-radius: 30px;
background-image: url('https://images.pexels.com/photos/5011647/pexels-photo-5011647.jpeg?cs=srgb&dl=pexels-rostislav-uzunov-5011647.jpg&fm=jpg');
background-position: center;
background-size: cover;
justify-content: space-between;
padding:  30px;
margin-top: 10px;
}

.home_h1{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home_h1 h1 {
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    color: #007acc;
    font-weight: 800;
    /* float: left; */
    font-size: 250%;
    position: absolute;
    display: flex;
    top: 10px;
    left: 10px;
    margin-top: 100px;
  }

  .home-content h2{
     color: white;
     max-width:900px;
     margin-top: 9%;
     font-size:200%;
     left: 20px;
     
  }
  .image-home {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    max-width: 500px;
    align-items: right;
    float: right;
    display: flex;
  }

  .image-home img {
    max-width: 500px;
    height: 80%;
    border-radius: 30px;
    max-height: 600px;
    padding: 10px;
  }

  .home-content h2 {
    color:white; 
    font-weight: bolder;
    font-size: 30px;
    line-height: 1.5;
    margin-left: 20px;
    opacity: 0.9;
    transition: opacity 0.3s;
  }
